* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-family: 'Roboto', sans-serif; }

.material-icons-pseudo::before, .material-icons-pseudo::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.inputbox_input {
  padding: 10px;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  font-family: inherit; }
  .inputbox_input:focus {
    box-shadow: inset 0px -10px 5px -8px rgba(255, 255, 255, 0.25); }

.todo {
  margin: 0;
  display: flex;
  align-items: center; }
  .todo_list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .todo_list li:nth-child(2n-1) {
      background-color: #0e0e0e; }
  .todo_tickbox {
    flex: 0 0 auto;
    padding: 10px;
    display: block;
    cursor: pointer;
    transition: 0.2s ease-in-out all; }
    .todo_tickbox:hover {
      background-color: #212121; }
    .todo_tickbox::before {
      content: 'check_box_outline_blank'; }
  .todo_text {
    flex: 1 1 auto;
    font-size: 1.2rem;
    padding-left: 10px; }
  .todo--done .todo_tickbox::before {
    content: 'check_box'; }
  .todo--done .todo_text {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5); }
